In [ ]:
%tensorflow_version 1.x
from google.colab import files
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from keras.utils import to_categorical

TensorFlow 1.x selected.

Using TensorFlow backend.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
cd drive/Shareddrives

/content/drive/Shareddrives

In [ ]:
cd "TAMIDS'22"

/content/drive/Shareddrives/TAMIDS'22

In [ ]:
ls

'2022 Data Science Competition Submission - Data Noobs.docx'
'Altmetric - Research Outputs - Texas A&M University - 2022-03-12.csv'
'Altmetric - Research Outputs - Texas A&M University - 2022-03-12.xlsx'
 combined_df.csv
 DataNoobs_midterm_report.pdf
 Dataset/
 dept_collab_2.html
 Dept_TDA.ipynb
 Dimensions-Grant-2022-03-12_21-16-43.csv
 Dimensions-Publication-2022-03-12_21-12-03.csv
 Dimensions-Publication-2022-03-12_21-12-03.xlsx
'Dimensions-Publication-2022-03-12_21-12-14-VOS Viewer.csv'
 Dimensions-Publication-2022-03-12_21-18-25.csv
 Dimensions-Publication-2022-03-12_21-18-30VOSViewer.csv
 grant_TDA.ipynb
'grant_test2 (1).html'
'Mid term report.gdoc'
 primary_df_2.csv
 primary_df.csv
 prof_list.csv
 README.md
 Research_area.csv
'Tushar VIZ.gdoc'
'Univ_collab (1).html'
 Univ_collab.ipynb

In [ ]:
df = pd.read_csv('primary_df.csv')
df.columns

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (25,26,27,28,30) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Index(['Unnamed: 0', 'PMID', 'Altmetric Attention Score',
       'Authors at my Institution', 'Departments', 'Funder',
       'Publication Date', 'News mentions', 'Blog mentions', 'Policy mentions',
       'Patent mentions', 'Twitter mentions', 'Peer review mentions',
       'Weibo mentions', 'Facebook mentions', 'Wikipedia mentions',
       'Google+ mentions', 'LinkedIn mentions', 'Reddit mentions',
       'Pinterest mentions', 'F1000 mentions', 'Q&A mentions',
       'Video mentions', 'Syllabi mentions', 'Number of Mendeley readers',
       'Abstract', 'Research Organizations - standardized',
       'Country of Research organization', 'Funder Group', 'Times cited',
       'Sustainable Development Goals', 'Title'],
      dtype='object')

In [ ]:
df.head(2)

,Unnamed: 0,PMID,Altmetric Attention Score,Authors at my Institution,Departments,Funder,Publication Date,News mentions,Blog mentions,Policy mentions,...,Video mentions,Syllabi mentions,Number of Mendeley readers,Abstract,Research Organizations - standardized,Country of Research organization,Funder Group,Times cited,Sustainable Development Goals,Title
0,0,32527856,21128.0,"ZHANG, Renyi",['Atmospheric Sciences'],Welch Foundation,11/06/2020,719.0,47.0,3.0,...,6.0,0.0,1245.0,Various mitigation measures have been implemen...,Texas A&M University; California Institute of ...,United States; United States; United States; U...,NaN,652.0,NaN,Identifying airborne transmission as the domin...
1,1,28864332,7685.0,"KUMAR, Rajesh",[' Medical Physiology'],Canadian Institutes of Health Research; Colcie...,11/1/2017,315.0,35.0,3.0,...,30.0,0.0,1996.0,NaN,NaN,NaN,NaN,NaN,NaN,Associations of fats and carbohydrate intake w...

# ***Altmetric Score Analysis***

In [ ]:
df_subset1 = df[["PMID", "Title", "Altmetric Attention Score", "Departments", "Funder", "Publication Date", "Abstract", "Research Organizations - standardized", "Country of Research organization", "Funder Group", "Sustainable Development Goals"]]
df_subset1

,PMID,Title,Altmetric Attention Score,Departments,Funder,Publication Date,Abstract,Research Organizations - standardized,Country of Research organization,Funder Group,Sustainable Development Goals
0,32527856,Identifying airborne transmission as the domin...,21128.0,['Atmospheric Sciences'],Welch Foundation,11/06/2020,Various mitigation measures have been implemen...,Texas A&M University; California Institute of ...,United States; United States; United States; U...,NaN,NaN
1,28864332,Associations of fats and carbohydrate intake w...,7685.0,[' Medical Physiology'],Canadian Institutes of Health Research; Colcie...,11/1/2017,NaN,NaN,NaN,NaN,NaN
2,30518902,Global warming will happen faster than we think,5670.0,['Atmospheric Sciences'],NaN,12/5/2018,NaN,NaN,NaN,NaN,NaN
3,31569235,Unprocessed Red Meat and Processed Meat Consum...,4504.0,[' Epidemiology and Biostatistics'],National Institute of Environmental Health Sci...,10/1/2019,This article has been corrected. The original ...,Hospital of the Holy Cross and Saint Paul; Net...,Spain; Netherlands; Canada; Canada; South Kore...,ICRP - International Cancer Research Partnersh...,NaN
4,26315443,Estimating the reproducibility of psychologica...,4156.0,"[' Computer Science and Engineering', ' Psycho...",Laura and John Arnold Foundation; Medical Rese...,8/28/2015,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
171666,22155005,Enhanced desumoylation in murine hearts by ove...,0.0,[],American Heart Association; National Heart Lun...,3/1/2012,NaN,NaN,NaN,NaN,NaN
171667,22164280,Glutathione and Adaptive Immune Responses agai...,0.0,[' Pharmacy Practice'],NaN,12/2/2011,NaN,NaN,NaN,NaN,NaN
171668,22088192,Characterization of Lignin by Gas Chromatograp...,0.0,[' Marine Sciences'],Directorate for Geosciences,12/2/2011,NaN,NaN,NaN,NaN,NaN
171669,22001026,Absence of post-prandial gut anabolism after i...,0.0,[' Health and Kinesiology'],NaN,4/1/2012,NaN,NaN,NaN,NaN,NaN
171670,21963257,On the validity of remember–know judgments: Ev...,0.0,['Psychological and Brain Sciences'],NaN,12/1/2011,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_subset1['Departments']

0                                  ['Atmospheric Sciences']
1                                   [' Medical Physiology']
2                                  ['Atmospheric Sciences']
3                       [' Epidemiology and Biostatistics']
4         [' Computer Science and Engineering', ' Psycho...
                                ...
171666                                                   []
171667                               [' Pharmacy Practice']
171668                                 [' Marine Sciences']
171669                          [' Health and Kinesiology']
171670                 ['Psychological and Brain Sciences']
Name: Departments, Length: 171671, dtype: object

In [ ]:
df_subset2 = df[["Departments", "Publication Date", "Altmetric Attention Score"]]
df_subset2

,Departments,Publication Date,Altmetric Attention Score
0,['Atmospheric Sciences'],11/06/2020,21128.0
1,[' Medical Physiology'],11/1/2017,7685.0
2,['Atmospheric Sciences'],12/5/2018,5670.0
3,[' Epidemiology and Biostatistics'],10/1/2019,4504.0
4,"[' Computer Science and Engineering', ' Psycho...",8/28/2015,4156.0
...,...,...,...
171666,[],3/1/2012,0.0
171667,[' Pharmacy Practice'],12/2/2011,0.0
171668,[' Marine Sciences'],12/2/2011,0.0
171669,[' Health and Kinesiology'],4/1/2012,0.0
171670,['Psychological and Brain Sciences'],12/1/2011,0.0

In [ ]:
for index_label, row_series in df_subset2.iterrows():
  df_subset2.at[index_label , 'Departments'] = row_series['Departments'].replace("'","")[1:][:-1].split(",")
df_subset2

,Departments,Publication Date,Altmetric Attention Score
0,[Atmospheric Sciences],11/06/2020,21128.0
1,[ Medical Physiology],11/1/2017,7685.0
2,[Atmospheric Sciences],12/5/2018,5670.0
3,[ Epidemiology and Biostatistics],10/1/2019,4504.0
4,"[ Computer Science and Engineering, Psycholo...",8/28/2015,4156.0
...,...,...,...
171666,[],3/1/2012,0.0
171667,[ Pharmacy Practice],12/2/2011,0.0
171668,[ Marine Sciences],12/2/2011,0.0
171669,[ Health and Kinesiology],4/1/2012,0.0
171670,[Psychological and Brain Sciences],12/1/2011,0.0

In [ ]:
df_subset2_exploded = df_subset2.explode('Departments')
df_subset2_exploded['Departments'] = df_subset2_exploded['Departments'].str.strip()
df_subset2_exploded

,Departments,Publication Date,Altmetric Attention Score
0,Atmospheric Sciences,11/06/2020,21128.0
1,Medical Physiology,11/1/2017,7685.0
2,Atmospheric Sciences,12/5/2018,5670.0
3,Epidemiology and Biostatistics,10/1/2019,4504.0
4,Computer Science and Engineering,8/28/2015,4156.0
...,...,...,...
171666,,3/1/2012,0.0
171667,Pharmacy Practice,12/2/2011,0.0
171668,Marine Sciences,12/2/2011,0.0
171669,Health and Kinesiology,4/1/2012,0.0
171670,Psychological and Brain Sciences,12/1/2011,0.0

In [ ]:
df_subset2_exploded.Departments.nunique()

140

In [ ]:
df_subset2_exploded = df_subset2_exploded.sort_values(by="Publication Date")
df_subset2_exploded

,Departments,Publication Date,Altmetric Attention Score
104399,Philosophy,0002-11-30,0.0
98153,International Studies,1/1/1926,0.0
86356,English,1/1/1954,0.0
87356,Civil Engineering,1/1/1954,0.0
120125,Aerospace Engineering,1/1/1957,0.0
...,...,...,...
31099,,9/9/2021,0.0
133474,Veterinary Pathobiology,9/9/2021,6.0
133474,Animal Science,9/9/2021,6.0
128598,Plant Pathology and Microbiology,9/9/2021,15.0
25603,Education,9/9/2021,0.0

In [ ]:
df_subset2_arr = df_subset2_exploded.to_numpy()

In [ ]:
df_subset2_exploded.head(10)

                   Departments Publication Date  Altmetric Attention Score
104399              Philosophy       0002-11-30                        0.0
98153    International Studies         1/1/1926                        0.0
86356                  English         1/1/1954                        0.0
87356        Civil Engineering         1/1/1954                        0.0
120125   Aerospace Engineering         1/1/1957                        0.0
120114   Aerospace Engineering         1/1/1957                        0.0
120287   Aerospace Engineering         1/1/1957                        0.0
118558   Aerospace Engineering         1/1/1957                        0.0
120125  Horticultural Sciences         1/1/1957                        0.0
120117   Aerospace Engineering         1/1/1957                        0.0

In [ ]:
len(pd.unique(df_subset2_exploded['Departments']))

140

In [ ]:
#df_subset2_exploded['Publication Date'] = pd.to_datetime(df_subset2_exploded['Publication Date'], format='%m/%d/%y', errors = 'coerce')

In [ ]:
filtered_df = df_subset2_exploded.loc[(df_subset2_exploded['Publication Date'] >= '1/1/2000')]
filtered_df

,Departments,Publication Date,Altmetric Attention Score
96319,Electrical and Computer Engineering,1/1/2000,0.0
63671,Marketing,1/1/2000,0.0
112154,Mathematics,1/1/2000,0.0
155068,Large Animal Clinical Sciences,1/1/2000,0.0
41370,Biological and Agricultural Engineering,1/1/2000,0.0
...,...,...,...
31099,,9/9/2021,0.0
133474,Veterinary Pathobiology,9/9/2021,6.0
133474,Animal Science,9/9/2021,6.0
128598,Plant Pathology and Microbiology,9/9/2021,15.0
25603,Education,9/9/2021,0.0

In [ ]:
test_df = filtered_df[["Departments", "Altmetric Attention Score"]].groupby( [ "Departments"] ).count().reset_index().sort_values(by="Altmetric Attention Score")
test_df = test_df[:-1]
test_df.tail(10)

                                 Departments  Altmetric Attention Score
2                      Aerospace Engineering                       4128
25          Computer Science and Engineering                       4431
20                         Civil Engineering                       4533
131       Veterinary Integrative Biosciences                       4611
17                      Chemical Engineering                       4741
12   Biological and Agricultural Engineering                       6574
19                                 Chemistry                       8202
108                    Physics and Astronomy                       8654
80                    Mechanical Engineering                       8744
34       Electrical and Computer Engineering                       9956

In [ ]:
import plotly.express as px
fig = px.pie(test_df.tail(15), values='Altmetric Attention Score', names='Departments', title='Department wise Reseach diversity in 21st Century')
fig.show()

In [ ]:
filtered_df2 = df_subset2_exploded.loc[(df_subset2_exploded['Publication Date'] >= '1/1/1950') & (df_subset2_exploded['Publication Date'] < '1/1/2000')]
filtered_df2

,Departments,Publication Date,Altmetric Attention Score
86356,English,1/1/1954,0.0
87356,Civil Engineering,1/1/1954,0.0
120125,Aerospace Engineering,1/1/1957,0.0
120114,Aerospace Engineering,1/1/1957,0.0
120287,Aerospace Engineering,1/1/1957,0.0
...,...,...,...
47581,Chemical Engineering,1/1/1999,0.0
92361,Mathematics,1/1/1999,0.0
89472,Biomedical Engineering,1/1/1999,0.0
63675,,1/1/1999,0.0
88068,Materials Science and Engineering,1/1/1999,0.0

In [ ]:
test_df = filtered_df2[["Departments", "Altmetric Attention Score"]].groupby( [ "Departments"] ).count().reset_index().sort_values(by="Altmetric Attention Score")
test_df = test_df[:-5]
test_df.tail(10)

                                 Departments  Altmetric Attention Score
19                         Civil Engineering                        183
62         Materials Science and Engineering                        186
108       Veterinary Integrative Biosciences                        220
109                  Veterinary Pathobiology                        250
2                      Aerospace Engineering                        258
7                             Animal Science                        263
12   Biological and Agricultural Engineering                        266
88                     Physics and Astronomy                        290
110   Veterinary Physiology and Pharmacology                        298
11               Biochemistry and Biophysics                        307

In [ ]:
import plotly.express as px
fig = px.pie(test_df.tail(15), values='Altmetric Attention Score', names='Departments', title='Department wise Reseach diversity in 20th Century')
fig.show()

In [ ]:
test_df = df_subset2_exploded[["Departments", "Altmetric Attention Score"]].groupby( [ "Departments"] ).count().reset_index().sort_values(by="Altmetric Attention Score")
test_df = test_df[:-1]
test_df.tail(10)

                                 Departments  Altmetric Attention Score
2                      Aerospace Engineering                       4386
25          Computer Science and Engineering                       4546
20                         Civil Engineering                       4716
131       Veterinary Integrative Biosciences                       4831
17                      Chemical Engineering                       4901
12   Biological and Agricultural Engineering                       6840
19                                 Chemistry                       8606
108                    Physics and Astronomy                       8944
80                    Mechanical Engineering                       9196
34       Electrical and Computer Engineering                      10735

In [ ]:
import plotly.express as px
fig = px.pie(test_df.tail(15), values='Altmetric Attention Score', names='Departments', title='Department wise Reseach diversity over the years')
fig.show()

In [ ]:
df_subset2

,Departments,Publication Date,Altmetric Attention Score
0,[Atmospheric Sciences],11/06/2020,21128.0
1,[ Medical Physiology],11/1/2017,7685.0
2,[Atmospheric Sciences],12/5/2018,5670.0
3,[ Epidemiology and Biostatistics],10/1/2019,4504.0
4,"[ Computer Science and Engineering, Psycholo...",8/28/2015,4156.0
...,...,...,...
171666,[],3/1/2012,0.0
171667,[ Pharmacy Practice],12/2/2011,0.0
171668,[ Marine Sciences],12/2/2011,0.0
171669,[ Health and Kinesiology],4/1/2012,0.0
171670,[Psychological and Brain Sciences],12/1/2011,0.0

In [ ]:
ls

'2022 Data Science Competition Submission - Data Noobs.docx'
'Altmetric - Research Outputs - Texas A&M University - 2022-03-12.csv'
'Altmetric - Research Outputs - Texas A&M University - 2022-03-12.xlsx'
 combined_df.csv
 DataNoobs_midterm_report.pdf
 Dataset/
 dept_collab_2.html
 Dept_TDA.ipynb
 Dimensions-Grant-2022-03-12_21-16-43.csv
 Dimensions-Publication-2022-03-12_21-12-03.csv
 Dimensions-Publication-2022-03-12_21-12-03.xlsx
'Dimensions-Publication-2022-03-12_21-12-14-VOS Viewer.csv'
 Dimensions-Publication-2022-03-12_21-18-25.csv
 Dimensions-Publication-2022-03-12_21-18-30VOSViewer.csv
 grant_TDA.ipynb
'grant_test2 (1).html'
'Mid term report.gdoc'
 primary_df_2.csv
 primary_df.csv
 prof_list.csv
 README.md
 Research_area.csv
'Tushar VIZ.gdoc'
'Univ_collab (1).html'
 Univ_collab.ipynb

# ***Extracting nouns***

In [ ]:
df

,Unnamed: 0,PMID,Altmetric Attention Score,Authors at my Institution,Departments,Funder,Publication Date,News mentions,Blog mentions,Policy mentions,...,Video mentions,Syllabi mentions,Number of Mendeley readers,Abstract,Research Organizations - standardized,Country of Research organization,Funder Group,Times cited,Sustainable Development Goals,Title
0,0,32527856,21128.0,"ZHANG, Renyi",['Atmospheric Sciences'],Welch Foundation,11/06/2020,719.0,47.0,3.0,...,6.0,0.0,1245.0,Various mitigation measures have been implemen...,Texas A&M University; California Institute of ...,United States; United States; United States; U...,NaN,652.0,NaN,Identifying airborne transmission as the domin...
1,1,28864332,7685.0,"KUMAR, Rajesh",[' Medical Physiology'],Canadian Institutes of Health Research; Colcie...,11/1/2017,315.0,35.0,3.0,...,30.0,0.0,1996.0,NaN,NaN,NaN,NaN,NaN,NaN,Associations of fats and carbohydrate intake w...
2,2,30518902,5670.0,"XU, Yangyang",['Atmospheric Sciences'],NaN,12/5/2018,95.0,17.0,0.0,...,3.0,0.0,228.0,NaN,NaN,NaN,NaN,NaN,NaN,Global warming will happen faster than we think
3,3,31569235,4504.0,"STOVER, Patrick J; JOHNSTON, Bradley C",[' Epidemiology and Biostatistics'],National Institute of Environmental Health Sci...,10/1/2019,510.0,47.0,0.0,...,14.0,0.0,415.0,This article has been corrected. The original ...,Hospital of the Holy Cross and Saint Paul; Net...,Spain; Netherlands; Canada; Canada; South Kore...,ICRP - International Cancer Research Partnersh...,126.0,NaN,Unprocessed Red Meat and Processed Meat Consum...
4,4,26315443,4156.0,"DONNELLAN, Michael B; THOMAS, Shawna L","[' Computer Science and Engineering', ' Psycho...",Laura and John Arnold Foundation; Medical Rese...,8/28/2015,364.0,238.0,6.0,...,2.0,0.0,4592.0,NaN,NaN,NaN,NaN,NaN,NaN,Estimating the reproducibility of psychologica...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171666,179682,22155005,0.0,"CHANG, Jiang",[],American Heart Association; National Heart Lun...,3/1/2012,0.0,0.0,0.0,...,0.0,0.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,Enhanced desumoylation in murine hearts by ove...
171667,179683,22164280,0.0,"KHASAWNEH, Fadi",[' Pharmacy Practice'],NaN,12/2/2011,0.0,0.0,0.0,...,0.0,0.0,39.0,NaN,NaN,NaN,NaN,NaN,NaN,Glutathione and Adaptive Immune Responses agai...
171668,179684,22088192,0.0,"KAISER, Karl",[' Marine Sciences'],Directorate for Geosciences,12/2/2011,0.0,0.0,0.0,...,0.0,0.0,134.0,NaN,NaN,NaN,NaN,NaN,NaN,Characterization of Lignin by Gas Chromatograp...
171669,179685,22001026,0.0,"DEUTZ, Nicolaas; ENGELEN, Marielle P; TEN HAVE...",[' Health and Kinesiology'],NaN,4/1/2012,0.0,0.0,0.0,...,0.0,0.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,Absence of post-prandial gut anabolism after i...
171670,179686,21963257,0.0,"GERACI, Lisa D",['Psychological and Brain Sciences'],NaN,12/1/2011,0.0,0.0,0.0,...,0.0,0.0,66.0,NaN,NaN,NaN,NaN,NaN,NaN,On the validity of remember–know judgments: Ev...

In [ ]:
df_subset3 = df[["Departments", "Abstract"]]

In [ ]:
df_subset3

,Departments,Abstract
0,['Atmospheric Sciences'],Various mitigation measures have been implemen...
1,[' Medical Physiology'],NaN
2,['Atmospheric Sciences'],NaN
3,[' Epidemiology and Biostatistics'],This article has been corrected. The original ...
4,"[' Computer Science and Engineering', ' Psycho...",NaN
...,...,...
171666,[],NaN
171667,[' Pharmacy Practice'],NaN
171668,[' Marine Sciences'],NaN
171669,[' Health and Kinesiology'],NaN
171670,['Psychological and Brain Sciences'],NaN

In [ ]:
for index_label, row_series in df_subset3.iterrows():
  df_subset3.at[index_label , 'Departments'] = row_series['Departments'].replace("'","")[1:][:-1].split(",")
df_subset3

,Departments,Abstract
0,[Atmospheric Sciences],Various mitigation measures have been implemen...
1,[ Medical Physiology],NaN
2,[Atmospheric Sciences],NaN
3,[ Epidemiology and Biostatistics],This article has been corrected. The original ...
4,"[ Computer Science and Engineering, Psycholo...",NaN
...,...,...
171666,[],NaN
171667,[ Pharmacy Practice],NaN
171668,[ Marine Sciences],NaN
171669,[ Health and Kinesiology],NaN
171670,[Psychological and Brain Sciences],NaN

In [ ]:
df_subset3 = df_subset3.dropna()

In [ ]:
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

for index_label, row_series in df_subset3.iterrows():
  nouns = [] #empty to array to hold all nouns
  sentences = df_subset3.at[index_label , 'Abstract']
  for word,pos in nltk.pos_tag(nltk.word_tokenize(str(sentences))):
      if (pos == 'NN' or pos == 'NNP' or pos == 'NNS' or pos == 'NNPS'):
          nouns.append(word)
  df_subset3.at[index_label , 'Abstract'] = nouns
df_subset3

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

,Departments,Abstract
0,[Atmospheric Sciences],"[mitigation, measures, coronavirus, disease, C..."
3,[ Epidemiology and Biostatistics],"[article, version, PDF, article, Supplement, D..."
5,"[ Veterinary Pathobiology, Microbial Pathoge...","[reports, novel, respiratory, syndrome, SARS, ..."
6,[ Anthropology],"[Dogs, animal, population, history, humans, do..."
124913,[ Epidemiology and Biostatistics],"[studies, relationship, mortality, weekday, sl..."
...,...,...
171518,[ Plant Pathology and Microbiology],"[Life, infection, species, Burkholderia, cepac..."
171533,[ Soil and Crop Sciences],"[constraint, application, biotechnology, impro..."
171614,"[ Veterinary Physiology and Pharmacology, Bi...","[organochlorine, pesticides, estrogens, incide..."
171629,"[ Chemistry, Materials Science and Engineering]","[reactions, copper, II, acetate, tetrazolate-5..."
171632,[ Chemistry],"[investigation, evidence, interactions, drivin..."

In [ ]:
df_subset3.head(10)

,Departments,Abstract
0,[Atmospheric Sciences],"[mitigation, measures, coronavirus, disease, C..."
3,[ Epidemiology and Biostatistics],"[article, version, PDF, article, Supplement, D..."
5,"[ Veterinary Pathobiology, Microbial Pathoge...","[reports, novel, respiratory, syndrome, SARS, ..."
6,[ Anthropology],"[Dogs, animal, population, history, humans, do..."
124913,[ Epidemiology and Biostatistics],"[studies, relationship, mortality, weekday, sl..."
124914,[Physics and Astronomy],"[planet, KELT-9b, temperature, K, molecules, a..."
124917,[ Computer Science and Engineering],"[COVID-19, research, robotics, risks, diseases]"
124918,[Atmospheric Sciences],"[Paris, Agreement, temperature, rise, °C, unce..."
124919,[ Anthropology],"[origins, dogs, sequences, dogs, genome, Neoli..."
124920,[ Anthropology],"[Rising, Star, cave, system, fossil, hominin, ..."

In [ ]:
df_subset3_exploded = df_subset3.explode('Departments')
df_subset3_exploded['Departments'] = df_subset3_exploded['Departments'].str.strip()
df_subset3_exploded

,Departments,Abstract
0,Atmospheric Sciences,"[mitigation, measures, coronavirus, disease, C..."
3,Epidemiology and Biostatistics,"[article, version, PDF, article, Supplement, D..."
5,Veterinary Pathobiology,"[reports, novel, respiratory, syndrome, SARS, ..."
5,Microbial Pathogenesis and Immunology,"[reports, novel, respiratory, syndrome, SARS, ..."
6,Anthropology,"[Dogs, animal, population, history, humans, do..."
...,...,...
171614,Veterinary Physiology and Pharmacology,"[organochlorine, pesticides, estrogens, incide..."
171614,Biochemistry and Biophysics,"[organochlorine, pesticides, estrogens, incide..."
171629,Chemistry,"[reactions, copper, II, acetate, tetrazolate-5..."
171629,Materials Science and Engineering,"[reactions, copper, II, acetate, tetrazolate-5..."
171632,Chemistry,"[investigation, evidence, interactions, drivin..."

# ***Abstract Wise Grant Analysis***

In [ ]:
cd ..

/content/drive/Shareddrives/TAMIDS'22

In [ ]:
grantDf = pd.read_csv('Dimensions-Grant-2022-03-12_21-16-43.csv', header = 1)
grantDf.columns

Index(['Rank', 'Grant ID', 'Grant Number', 'Title', 'Title translated',
       'Abstract', 'Abstract translated', 'Funding Amount', 'Currency',
       'Funding Amount in USD', 'Start Date', 'Start Year', 'End Date',
       'End Year', 'Researchers', 'Research Organization - original',
       'Research Organization - standardized', 'GRID ID',
       'City of Research organization', 'State of Research organization',
       'Country of Research organization', 'Funder', 'Funder Group',
       'Funder Country', 'Resulting publications', 'Source Linkout',
       'Dimensions URL', 'FOR (ANZSRC) Categories', 'RCDC Categories',
       'HRCS HC Categories', 'HRCS RAC Categories', 'ICRP Cancer Types',
       'ICRP CSO Categories', 'Units of Assessment',
       'Sustainable Development Goals'],
      dtype='object')

In [ ]:
grantDf.head(10)

,Rank,Grant ID,Grant Number,Title,Title translated,Abstract,Abstract translated,Funding Amount,Currency,Funding Amount in USD,...,Source Linkout,Dimensions URL,FOR (ANZSRC) Categories,RCDC Categories,HRCS HC Categories,HRCS RAC Categories,ICRP Cancer Types,ICRP CSO Categories,Units of Assessment,Sustainable Development Goals
0,100,grant.9967334,2140664,CAREER: Heat Semigroups and Strichartz Estimat...,CAREER: Heat Semigroups and Strichartz Estimat...,This award is funded in whole or in part under...,This award is funded in whole or in part under...,424657,USD,424657,...,http://www.nsf.gov/awardsearch/showAward?AWD_I...,https://app.dimensions.ai/details/grant/grant....,0102 Applied Mathematics; 01 Mathematical Scie...,NaN,NaN,NaN,NaN,NaN,B10 Mathematical Sciences,NaN
1,100,grant.9752183,2125985,SCC-IRG Track1: ADVANCED LEARNING FOR ENERGY R...,SCC-IRG Track1: ADVANCED LEARNING FOR ENERGY R...,This NSF S&CC project aims to predict the Stat...,This NSF S&CC project aims to predict the Stat...,1498793,USD,1498793,...,http://www.nsf.gov/awardsearch/showAward?AWD_I...,https://app.dimensions.ai/details/grant/grant....,1117 Public Health and Health Services; 11 Med...,NaN,NaN,NaN,NaN,NaN,B11 Computer Science and Informatics,13 Climate Action
2,100,grant.9971039,2144973,CAREER: Dislocation-level Understanding of She...,CAREER: Dislocation-level Understanding of She...,PART 1: NON-TECHNICAL SUMMARY Magnesium (Mg) i...,PART 1: NON-TECHNICAL SUMMARY Magnesium (Mg) i...,464494,USD,464494,...,http://www.nsf.gov/awardsearch/showAward?AWD_I...,https://app.dimensions.ai/details/grant/grant....,0912 Materials Engineering; 09 Engineering,NaN,NaN,NaN,NaN,NaN,B12 Engineering,NaN
3,100,grant.9982325,2142177,"CAREER: Past, Present, and Future of the Peatl...","CAREER: Past, Present, and Future of the Peatl...",Tropical ecosystems are subject to some of the...,Tropical ecosystems are subject to some of the...,816374,USD,816374,...,http://www.nsf.gov/awardsearch/showAward?AWD_I...,https://app.dimensions.ai/details/grant/grant....,0602 Ecology; 0502 Environmental Science and M...,NaN,NaN,NaN,NaN,NaN,C14 Geography and Environmental Studies,13 Climate Action
4,100,grant.9964747,2145628,CAREER: Integrating river hydrology across sca...,CAREER: Integrating river hydrology across sca...,Rivers are natural hotspots for greenhouse gas...,Rivers are natural hotspots for greenhouse gas...,535242,USD,535242,...,http://www.nsf.gov/awardsearch/showAward?AWD_I...,https://app.dimensions.ai/details/grant/grant....,0406 Physical Geography and Environmental Geos...,NaN,NaN,NaN,NaN,NaN,C14 Geography and Environmental Studies,13 Climate Action
5,100,grant.9971067,2150094,REU Site: Undergraduate Research in the Mathem...,REU Site: Undergraduate Research in the Mathem...,This award is funded in whole or in part under...,This award is funded in whole or in part under...,388556,USD,388556,...,http://www.nsf.gov/awardsearch/showAward?AWD_I...,https://app.dimensions.ai/details/grant/grant....,0101 Pure Mathematics; 0802 Computation Theory...,NaN,NaN,NaN,NaN,NaN,B10 Mathematical Sciences,NaN
6,100,grant.9698174,FT-278123-21,The Soviet-Afghan War and the Shadow of Vietnam,The Soviet-Afghan War and the Shadow of Vietnam,My project is a book-length historical examina...,My project is a book-length historical examina...,6000,USD,6000,...,NaN,https://app.dimensions.ai/details/grant/grant....,2103 Historical Studies; 2002 Cultural Studies...,NaN,NaN,NaN,NaN,NaN,C19 Politics and International Studies,"16 Peace, Justice and Strong Institutions"
7,100,grant.9995480,2143004,CAREER: Seasonal migration as an ecological ba...,CAREER: Seasonal migration as an ecological ba...,This award is funded in whole or in part under...,This award is funded in whole or in part under...,891028,USD,891028,...,http://www.nsf.gov/awardsearch/showAward?AWD_I...,https://app.dimensions.ai/details/grant/grant....,0604 Genetics; 0602 Ecology; 06 Biological Sci...,Genetics; Basic Behavioral and Social Science;...,NaN,NaN,NaN,NaN,A05 Biological Sciences,NaN
8,100,grant.9995434,2139857,Function and Mechanism of Coat Protein Complex...,Function and Mechanism of Coat Protein Complex...,This project focuses on the role of Coat prote...,This project focuses on the role of Coat prote...,900000,USD,900000,...,http://www.nsf.gov/awardsearch/showAward?AWD_I...,https://app.dimensions.ai/details/grant/grant....,0604 Genetics; 0601 Biochemistry and Cell Biol...,Genetics; Biotechnology,NaN,1.1 Normal biological development and functioning,NaN,NaN,A05 Biological Sciences,NaN
9,100,grant.9964408,2022-68008-36355,Impact of timing of vaccination on reproductiv...,Impact of timing of vaccination on reproductiv...,The cow-calf industry spends millions of dolla...,The cow-calf industry spends millions of dolla...,299941,USD,299941,...,https://portal.nifa.usda.gov/web/crisprojectpa...,https://app.dimensions.ai/details/grant/grant....,0702 Animal Production; 0707 Veterinary Scienc...,Prevention; Vaccine Related; Contraception/Rep...,NaN,3.4 Vaccines,NaN,NaN,"A06 Agriculture, Veterinary and Food Science",3 Good Health and Well Being

In [ ]:
# import nltk
# nltk.download('punkt')
# nltk.download('wordnet')
# nltk.download('stopwords')
# from nltk.corpus import stopwords
# stop = stopwords.words('english')

# from nltk.stem.wordnet import WordNetLemmatizer
# df['tokens'] = df.apply(lambda row: nltk.word_tokenize(row['Abstract']), axis=1)
# df['lemmas'] = df['tokens'].apply(lambda lst:[WordNetLemmatizer().lemmatize(word) for word in lst])
# df['lemmas'] = df['lemmas'].apply(lambda x: ' '.join(y for y in x if y not in (stop)))

# tf_vectorizer = CountVectorizer(strip_accents = 'unicode',
#                                 stop_words = 'english',
#                                 lowercase = True,
                             
#                                 token_pattern = r'\b[a-zA-Z]{5,}\b',
#                                 max_df = 0.5, 
#                                 min_df = 10)
# dtm_tf = tf_vectorizer.fit_transform(df.lemmas)
# tfidf_vectorizer = TfidfVectorizer(**tf_vectorizer.get_params())
# dtm_tfidf = tfidf_vectorizer.fit_transform(df.lemmas)


# df['Abstract'] = df['Abstract'].replace(np.nan,'change')
# for i in range (0,len(df.Abstract)):
#   # print(df['Abstract'][i])
#   if df['Abstract'][i] == 'change':
#     x = df['Title'][i]
#     # print(x)
#     df['Abstract'][i]=str(x)
#   else:
#     df['Abstract'][i]= str(df['Title'][i])+str(df['Abstract'][i])

In [ ]:
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')
from nltk.stem.wordnet import WordNetLemmatizer

custom_stopwords = ['Texas','A','&',"M",'College', 'Station', 'Center', 'School', 'Institute', 'Division', 'Principal', 'Investigator', 'Grant', 'project', 'research', 'ha', 'approach', 'student', 'impact', 'result', 'work', 'use', 'method', 'area', 'effort', 'PhD']

grantDf = grantDf.fillna(0)

grantDf['tokens'] = grantDf.apply(lambda row: nltk.word_tokenize(str(row['Abstract translated'])), axis=1)
grantDf['lemmas'] = grantDf['tokens'].apply(lambda lst:[WordNetLemmatizer().lemmatize(word) for word in lst])
grantDf['lemmas'] = grantDf['lemmas'].apply(lambda x: ' '.join(y for y in x if y not in (stop) and y not in (custom_stopwords)))

for index_label, row_series in grantDf.iterrows():
  nouns = [] #empty to array to hold all nouns
  if str(grantDf.at[index_label , 'Abstract translated']) == "0":
    sentences = grantDf.at[index_label , 'Title translated']
  else:
    sentences = grantDf.at[index_label , 'lemmas']
  for word,pos in nltk.pos_tag(nltk.word_tokenize(str(sentences))):
      if (pos == 'NN' or pos == 'NNP' or pos == 'NNS' or pos == 'NNPS'):
          nouns.append(word.lower())
  grantDf.at[index_label , 'Abstract'] = list(set(nouns))
  grantDf.at[index_label, 'Funding Amount in USD'] = float(grantDf.at[index_label, 'Funding Amount in USD']) / float((grantDf.at[index_label, 'End Year'] - grantDf.at[index_label, 'Start Year']) + 1)
grantDf

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,Rank,Grant ID,Grant Number,Title,Title translated,Abstract,Abstract translated,Funding Amount,Currency,Funding Amount in USD,...,FOR (ANZSRC) Categories,RCDC Categories,HRCS HC Categories,HRCS RAC Categories,ICRP Cancer Types,ICRP CSO Categories,Units of Assessment,Sustainable Development Goals,tokens,lemmas
0,100,grant.9967334,2140664,CAREER: Heat Semigroups and Strichartz Estimat...,CAREER: Heat Semigroups and Strichartz Estimat...,"[knowledge, environment, nsf, particle, theory...",This award is funded in whole or in part under...,424657,USD,70776,...,0102 Applied Mathematics; 01 Mathematical Scie...,0,0,0,0,0,B10 Mathematical Sciences,0,"[This, award, is, funded, in, whole, or, in, p...",This award funded whole part American Rescue P...
1,100,grant.9752183,2125985,SCC-IRG Track1: ADVANCED LEARNING FOR ENERGY R...,SCC-IRG Track1: ADVANCED LEARNING FOR ENERGY R...,"[san, mitigation, community, emphasis, ada, ma...",This NSF S&CC project aims to predict the Stat...,1498793,USD,299758,...,1117 Public Health and Health Services; 11 Med...,0,0,0,0,0,B11 Computer Science and Informatics,13 Climate Action,"[This, NSF, S, &, CC, project, aims, to, predi...",This NSF S CC aim predict State Risk ( SoR ) e...
2,100,grant.9971039,2144973,CAREER: Dislocation-level Understanding of She...,CAREER: Dislocation-level Understanding of She...,"[expose, part, platform, advance, opportunity,...",PART 1: NON-TECHNICAL SUMMARY Magnesium (Mg) i...,464494,USD,77415,...,0912 Materials Engineering; 09 Engineering,0,0,0,0,0,B12 Engineering,0,"[PART, 1, :, NON-TECHNICAL, SUMMARY, Magnesium...",PART 1 : NON-TECHNICAL SUMMARY Magnesium ( Mg ...
3,100,grant.9982325,2142177,"CAREER: Past, Present, and Future of the Peatl...","CAREER: Past, Present, and Future of the Peatl...","[science, holocene, land, models, cycle, prese...",Tropical ecosystems are subject to some of the...,816374,USD,136062,...,0602 Ecology; 0502 Environmental Science and M...,0,0,0,0,0,C14 Geography and Environmental Studies,13 Climate Action,"[Tropical, ecosystems, are, subject, to, some,...",Tropical ecosystem subject highest rate land-u...
4,100,grant.9964747,2145628,CAREER: Integrating river hydrology across sca...,CAREER: Integrating river hydrology across sca...,"[understanding, budget, land-use, rivers, rive...",Rivers are natural hotspots for greenhouse gas...,535242,USD,89207,...,0406 Physical Geography and Environmental Geos...,0,0,0,0,0,C14 Geography and Environmental Studies,13 Climate Action,"[Rivers, are, natural, hotspots, for, greenhou...",Rivers natural hotspot greenhouse gas emission...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,100,grant.3339396,8501724,Mathematical Sciences: Algebraic Cycles on Sur...,Mathematical Sciences: Algebraic Cycles on Sur...,"[dirichlet, sciences, series, algebraic, value...",0,31000,USD,10333,...,0,0,0,0,0,0,0,0,[0],0
4996,100,grant.3338933,8500363,Purchase of a High Resolution Fourier Transfor...,Purchase of a High Resolution Fourier Transfor...,"[spectro-, resolution, chemistry, purchase, fo...",0,175000,USD,87500,...,0,0,0,0,0,0,0,0,[0],0
4997,100,grant.3346213,8550784,Graduate Research Fellowships Support Grant,Graduate Research Fellowships Support Grant,"[grant, support, graduate, fellowships, research]",0,46500,USD,7750,...,0,0,0,0,0,0,0,0,[0],0
4998,100,grant.3341827,8509821,Warm Core Ring Interdisciplinary Synthesis Pro...,Warm Core Ring Interdisciplinary Synthesis Pro...,"[radon, rings, ring, radium, synthesis, interd...",0,37157,USD,12385,...,0,0,0,0,0,0,0,0,[0],0
4999,100,grant.3337551,8420149,A History of High-Pressure Coal Hydrogenation ...,A History of High-Pressure Coal Hydrogenation ...,"[hydrogenation, coal, high-pressure, history, ...",0,9000,USD,4500,...,0,0,0,0,0,0,0,0,[0],0

In [ ]:
buzzwordDf = grantDf[["Grant ID", "Grant Number", "Abstract", "Funding Amount", "Funding Amount in USD", "Start Year", "End Year", "FOR (ANZSRC) Categories", "Resulting publications"]]

In [ ]:
buzzwordDf = buzzwordDf.sort_values(by=['Funding Amount in USD'], ascending=False)
buzzwordDf.rename(columns = {'Abstract':'Abstract Keywords'}, inplace = True)
buzzwordDf.rename(columns = {'Funding Amount':'Original Funding Amount'}, inplace = True)
buzzwordDf.rename(columns = {'Funding Amount in USD':'Funding Amount per year'}, inplace = True)
buzzwordDf.rename(columns = {'FOR (ANZSRC) Categories':'Departments'}, inplace = True)
buzzwordDf

,Grant ID,Grant Number,Abstract Keywords,Original Funding Amount,Funding Amount per year,Start Year,End Year,Departments,Resulting publications
561,grant.4320258,DE-FG02-93ER40773,"[science, sherry, data, shape, nuclear, how, b...",78661000,26220333,2020,2022.0,"0202 Atomic, Molecular, Nuclear, Particle and ...",pub.1092302380; pub.1103354615; pub.1083780985...
2076,grant.3957202,EP/M013294/1,"[science, metrology, knowledge, megs, ability,...",35513856,9746534,2014,2019.0,0299 Other Physical Sciences; 02 Physical Scie...,pub.1060766780; pub.1092035477; pub.1122311154...
1223,grant.7056592,1648451,"[complexity, opportunity, curriculum, k-12, en...",20315000,3385833,2017,2022.0,0903 Biomedical Engineering; 09 Engineering,pub.1137410711; pub.1120983632; pub.1112995952...
4431,grant.3460940,9802942,"[south, engineering, http, information, marico...",17460462,2494351,1998,2004.0,1608 Sociology; 16 Studies in Human Society,pub.1093437577; pub.1094806986; pub.1093569157...
2372,grant.3946882,2014-31100-06048,"[act, tx, hatch]",7125137,2375045,2013,2015.0,0,0
...,...,...,...,...,...,...,...,...,...
546,grant.10000112,0,"[service, trip, fall, town, real-world, vehicl...",494855,-245,2020,0.0,1117 Public Health and Health Services; 11 Med...,0
1792,grant.7051720,RP160589,"[determine, cancer, resistance, composition, a...",890840,-442,2015,0.0,0601 Biochemistry and Cell Biology; 06 Biologi...,pub.1132949899; pub.1084060973; pub.1134851705...
2030,grant.7051642,RP150454,"[dna, property, cancer, therapy, immune, virus...",900000,-446,2015,0.0,1107 Immunology; 0605 Microbiology; 0601 Bioch...,pub.1014178261; pub.1115134691; pub.1105943169...
1976,grant.9425921,PP150089,"[ses, continuation, screening, way, food, navi...",1500000,-744,2015,0.0,1117 Public Health and Health Services; 11 Med...,pub.1132335303; pub.1023512338; pub.1129530362
2826,grant.9426035,PP120099,"[science, screening, infrastructure, borde, ac...",2698705,-1341,2012,0.0,1117 Public Health and Health Services; 11 Med...,pub.1132335303; pub.1023512338; pub.1129530362

In [ ]:
buzzwordDf_trunc = buzzwordDf[["Abstract Keywords", "Funding Amount per year", "Departments"]]
buzzwordDf_trunc.head(10)

,Abstract Keywords,Funding Amount per year,Departments
561,"[science, sherry, data, shape, nuclear, how, b...",26220333,"0202 Atomic, Molecular, Nuclear, Particle and ..."
2076,"[science, metrology, knowledge, megs, ability,...",9746534,0299 Other Physical Sciences; 02 Physical Scie...
1223,"[complexity, opportunity, curriculum, k-12, en...",3385833,0903 Biomedical Engineering; 09 Engineering
4431,"[south, engineering, http, information, marico...",2494351,1608 Sociology; 16 Studies in Human Society
2372,"[act, tx, hatch]",2375045,0
2086,"[act, tx, hatch]",2359596,0
1803,"[act, tx, hatch]",2347057,0
3101,"[act, tx, hatch]",2304873,0
4666,"[foundation, coalition]",2000000,0
452,"[gravity, post-docs, energy, cycle, way, parti...",1983750,"0202 Atomic, Molecular, Nuclear, Particle and ..."

In [ ]:
for index_label, row_series in buzzwordDf_trunc.iterrows():
  buzzwordDf_trunc.at[index_label , 'Departments'] = str(row_series['Departments']).split(";")
buzzwordDf_trunc.head(10)

,Abstract Keywords,Funding Amount per year,Departments
561,"[science, sherry, data, shape, nuclear, how, b...",26220333,"[0202 Atomic, Molecular, Nuclear, Particle and..."
2076,"[science, metrology, knowledge, megs, ability,...",9746534,"[0299 Other Physical Sciences, 02 Physical Sc..."
1223,"[complexity, opportunity, curriculum, k-12, en...",3385833,"[0903 Biomedical Engineering, 09 Engineering]"
4431,"[south, engineering, http, information, marico...",2494351,"[1608 Sociology, 16 Studies in Human Society]"
2372,"[act, tx, hatch]",2375045,[0]
2086,"[act, tx, hatch]",2359596,[0]
1803,"[act, tx, hatch]",2347057,[0]
3101,"[act, tx, hatch]",2304873,[0]
4666,"[foundation, coalition]",2000000,[0]
452,"[gravity, post-docs, energy, cycle, way, parti...",1983750,"[0202 Atomic, Molecular, Nuclear, Particle and..."

In [ ]:
for index_label, row_series in buzzwordDf_trunc.iterrows():
  buzzwordDf_trunc.at[index_label , 'Departments'] = [x.strip() for x in row_series['Departments']]

In [ ]:
buzzwordDf_trunc['Departments'][0]

['0102 Applied Mathematics', '01 Mathematical Sciences']

In [ ]:
for index_label, row_series in buzzwordDf_trunc.iterrows():
  valList = row_series['Departments']
  valNewList = []
  for val in valList:
    if int(val[:2]) == 1:
      valNewList.append("Mathematics")
    elif int(val[:2]) == 2:
      valNewList.append("Physics")
    elif int(val[:2]) == 3:
      valNewList.append("Chemistry")
    elif int(val[:2]) == 4:
      valNewList.append("Geology and Geophysics")
    elif int(val[:2]) == 5:
      valNewList.append("Environmental Science")
    elif int(val[:2]) == 6:
      valNewList.append("Biology and Genetics")
    elif int(val[:2]) == 7:
      valNewList.append("Agriculture and Crop Sciences")
    elif int(val[:2]) == 8:
      valNewList.append("AI and Computer Science")
    elif int(val[:2]) == 9:
      valNewList.append("Engineering")
    elif int(val[:2]) == 10:
      valNewList.append("Biotechnology")
    elif int(val[:2]) == 11:
      valNewList.append("Medical and Health Sciences")
    elif int(val[:2]) == 12:
      valNewList.append("Urban and Regional Planning")
    elif int(val[:2]) == 13:
      valNewList.append("Education")
    elif int(val[:2]) == 14:
      valNewList.append("Economics")
    elif int(val[:2]) == 15:
      valNewList.append("Commerce, Management, Tourism and Services")
    elif int(val[:2]) == 16:
      valNewList.append("Studies in Human Society")
    elif int(val[:2]) == 17:
      valNewList.append("Psychology and Cognitive Sciences")
    elif int(val[:2]) == 18:
      valNewList.append("Law and Legal Studies")
    elif int(val[:2]) == 20:
      valNewList.append("Language, Communication and Culture")
    elif int(val[:2]) == 21:
      valNewList.append("History and Archaeology")
    elif int(val[:2]) == 22:
      valNewList.append("Philosophy and Religious Studies")
    
  buzzwordDf_trunc.at[index_label , 'Departments'] = list(set(valNewList))
buzzwordDf_trunc.head(50)

,Abstract Keywords,Funding Amount per year,Departments
561,"[science, sherry, data, shape, nuclear, how, b...",26220333,[Physics]
2076,"[science, metrology, knowledge, megs, ability,...",9746534,[Physics]
1223,"[complexity, opportunity, curriculum, k-12, en...",3385833,[Engineering]
4431,"[south, engineering, http, information, marico...",2494351,[Studies in Human Society]
2372,"[act, tx, hatch]",2375045,[]
2086,"[act, tx, hatch]",2359596,[]
1803,"[act, tx, hatch]",2347057,[]
3101,"[act, tx, hatch]",2304873,[]
4666,"[foundation, coalition]",2000000,[]
452,"[gravity, post-docs, energy, cycle, way, parti...",1983750,[Physics]
3819,"[implement, experience, east, community, meet,...",1981961,[Studies in Human Society]
3433,"[data, korea, quarantine, zc, confidence, thre...",1950444,[Economics]
2374,"[data, panel, advance, accessibility, test, ga...",1950000,"[Biology and Genetics, Agriculture and Crop Sc..."
3897,"[non-compliance, description, knowledge, persi...",1883800,"[Biology and Genetics, Medical and Health Scie..."
1674,"[gcoos, build, goal]",1879346,[]
341,"[science, opportunity, exos, knowledge, way, e...",1832758,"[AI and Computer Science, Psychology and Cogni..."
4429,"[science, understanding, intervention, impleme...",1828158,[Education]
2914,"[information, knowledge, development, educator...",1817669,[Psychology and Cognitive Sciences]
1278,"[complexity, science, novel, transport, descri...",1729588,"[Medical and Health Sciences, Environmental Sc..."
83,"[food/agricultural, opportunity, basis, land, ...",1666666,"[Environmental Science, Agriculture and Crop S..."
724,"[reduces, vegetation, grassland, new, united, ...",1665723,[Environmental Science]
1118,"[complexity, data, chalk/eagle, shale, berkele...",1555767,[Engineering]
2915,"[act, tx, hatch]",1555457,[]
2673,"[cryo-em, information, knowledge, development,...",1452261,[Biology and Genetics]
1152,"[understanding, storm, development, ecosystems...",1448423,[Environmental Science]
77,"[feasibility, consultant, therapy, information...",1400000,[Studies in Human Society]
3106,"[act, tx, hatch]",1380680,[]
4293,"[grant, support, sea, texas, institutional]",1353412,[]
3231,"[data, simulation, engineering, platform, desc...",1314573,[Engineering]
1360,"[mri, n2o, energy, affect, ability, angle, sor...",1300259,"[Biology and Genetics, Environmental Science, ..."
3902,"[support, extension, sea, economy, communicati...",1289504,[Geology and Geophysics]
3229,"[seafood, fishery, development, mexico, commun...",1232585,"[Environmental Science, Agriculture and Crop S..."
2804,"[disturbance, energy, interruption, way, relia...",1219543,[Engineering]
4321,"[science, information, capacity, development, ...",1209832,[Education]
1711,"[energy, way, ground, breeding, technologies, ...",1150000,"[Biology and Genetics, Environmental Science, ..."
906,"[science, wssa, ipm, opportunity, periodicity,...",1134972,[Agriculture and Crop Sciences]
3310,"[data, korea, quarantine, zc, confidence, thre...",1120551,[Economics]
3706,"[science, intervention, collaboration, descrip...",1117441,[Medical and Health Sciences]
3312,"[agreement, family, educator, wa, shortage, to...",1102687,[Education]
2621,"[information, knowledge, development, educator...",1083496,"[Education, Psychology and Cognitive Sciences]"
3505,"[agreement, family, educator, wa, shortage, to...",1074290,[Education]
1515,"[report, description, food, infrastructure, ty...",1056183,[AI and Computer Science]
2273,"[omnibus, sea, coastal, activity, development,...",1022531,[Geology and Geophysics]
63,"[complexity, science, optane, expectation, bas...",999999,[AI and Computer Science]
3071,"[collaboration, spectrum, biology, description...",999346,[Biology and Genetics]
4306,"[colliders, dipoles, future]",985000,[]
4205,"[novel, clinic, property, shape, llnl, hypothe...",958738,[Engineering]
1330,"[science, engineering, grfp, united, fellowshi...",932324,[Education]
4273,"[south, intervention, capacity, number, christ...",904218,[Education]
3218,"[science, thread, description, infrastructure,...",882403,[Biology and Genetics]

In [ ]:
#Abstract noun exploding happens here
buzzwordDf_exploded = buzzwordDf_trunc.explode('Abstract Keywords').reset_index(drop=True)
buzzwordDf_exploded['Abstract Keywords'] = buzzwordDf_exploded['Abstract Keywords'].str.strip()
buzzwordDf_exploded

,Abstract Keywords,Funding Amount per year,Departments
0,science,26220333,[Physics]
1,sherry,26220333,[Physics]
2,data,26220333,[Physics]
3,shape,26220333,[Physics]
4,nuclear,26220333,[Physics]
...,...,...,...
294628,navigator,-1341,[Medical and Health Sciences]
294629,program,-1341,[Medical and Health Sciences]
294630,family,-1341,[Medical and Health Sciences]
294631,mammogram,-1341,[Medical and Health Sciences]
294632,ftf,-1341,[Medical and Health Sciences]

In [ ]:
#Department explode happens here
buzzwordDf_exploded = buzzwordDf_exploded.explode('Departments').reset_index(drop=True)
buzzwordDf_exploded['Departments'] = buzzwordDf_exploded['Departments'].str.strip()
buzzwordDf_exploded

       Abstract Keywords  Funding Amount per year                  Departments
0                science                 26220333                      Physics
1                 sherry                 26220333                      Physics
2                   data                 26220333                      Physics
3                  shape                 26220333                      Physics
4                nuclear                 26220333                      Physics
...                  ...                      ...                          ...
384422         navigator                    -1341  Medical and Health Sciences
384423           program                    -1341  Medical and Health Sciences
384424            family                    -1341  Medical and Health Sciences
384425         mammogram                    -1341  Medical and Health Sciences
384426               ftf                    -1341  Medical and Health Sciences

[384427 rows x 3 columns]

In [ ]:
depList = list(set(buzzwordDf_exploded['Departments']))[1:]

In [ ]:
grouped_df = buzzwordDf_exploded.groupby('Departments')

In [ ]:
grouped_df.first()

,Abstract Keywords,Funding Amount per year
Departments,,
AI and Computer Science,science,1832758
Agriculture and Crop Sciences,data,1950000
Biology and Genetics,data,1950000
Biotechnology,science,249997
Chemistry,precursor,812930
"Commerce, Management, Tourism and Services",face,559405
Economics,data,1950444
Education,science,1828158
Engineering,complexity,3385833
Environmental Science,complexity,1729588
Geology and Geophysics,support,1289504
History and Archaeology,tsunami,116672
"Language, Communication and Culture",’,84975
Law and Legal Studies,data,157000
Mathematics,science,474346
Medical and Health Sciences,non-compliance,1883800
Philosophy and Religious Studies,science,58209
Physics,science,26220333
Psychology and Cognitive Sciences,science,1832758
Studies in Human Society,south,2494351
Urban and Regional Planning,science,84969

In [ ]:
dataframe_collection = {}

for dep in depList:
  dataframe_collection[dep] = grouped_df.get_group(dep)
  dataframe_collection[dep] = pd.DataFrame(dataframe_collection[dep].groupby('Abstract Keywords')['Funding Amount per year'].sum()).sort_values(by='Funding Amount per year', ascending=False).head(100)

In [ ]:
dataframe_collection['AI and Computer Science']

In [ ]:
ai_df = grouped_df.get_group('AI and Computer Science')

In [ ]:
pd.DataFrame(ai_df.groupby('Abstract Keywords')['Funding Amount per year'].sum()).sort_values(by='Funding Amount per year', ascending=False).head(50)

In [ ]:
project, research, ha, approach, student, impact, result, work, use, method, area, effort

# ***Title Wise Grant Analysis***

In [ ]:
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

grantDf = pd.read_csv('Dimensions-Grant-2022-03-12_21-16-43.csv', header = 1)
grantDf = grantDf.fillna(0)
for index_label, row_series in grantDf.iterrows():
  nouns = [] #empty to array to hold all nouns
  sentences = grantDf.at[index_label , 'Title translated']
  for word,pos in nltk.pos_tag(nltk.word_tokenize(str(sentences))):
      if (pos == 'NN' or pos == 'NNP' or pos == 'NNS' or pos == 'NNPS'):
          nouns.append(word)
  grantDf.at[index_label , 'Title'] = list(set(nouns))
  grantDf.at[index_label, 'Funding Amount in USD'] = float(grantDf.at[index_label, 'Funding Amount in USD']) / float((grantDf.at[index_label, 'End Year'] - grantDf.at[index_label, 'Start Year']) + 1)
grantDf

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

KeyboardInterrupt: ignored

In [ ]:
buzzwordDf = grantDf[["Grant ID", "Grant Number", "Title", "Funding Amount", "Funding Amount in USD", "Start Year", "End Year", "FOR (ANZSRC) Categories", "Resulting publications"]]
buzzwordDf = buzzwordDf.sort_values(by=['Funding Amount in USD'], ascending=False)
buzzwordDf.rename(columns = {'Title':'Title Keywords'}, inplace = True)
buzzwordDf.rename(columns = {'Funding Amount':'Original Funding Amount'}, inplace = True)
buzzwordDf.rename(columns = {'Funding Amount in USD':'Funding Amount per year'}, inplace = True)
buzzwordDf.rename(columns = {'FOR (ANZSRC) Categories':'Departments'}, inplace = True)
buzzwordDf

,Grant ID,Grant Number,Title Keywords,Original Funding Amount,Funding Amount per year,Start Year,End Year,Departments,Resulting publications
561,grant.4320258,DE-FG02-93ER40773,Cyclotron Based Nuclear Science,78661000,26220333,2020,2022.0,"0202 Atomic, Molecular, Nuclear, Particle and ...",pub.1092302380; pub.1103354615; pub.1083780985...
2076,grant.3957202,EP/M013294/1,UK Quantum Technology Hub for Sensors and Metr...,35513856,9746534,2014,2019.0,0299 Other Physical Sciences; 02 Physical Scie...,pub.1060766780; pub.1092035477; pub.1122311154...
1223,grant.7056592,1648451,Engineering Research Center for Precise Advanc...,20315000,3385833,2017,2022.0,0903 Biomedical Engineering; 09 Engineering,pub.1137410711; pub.1120983632; pub.1112995952...
4431,grant.3460940,9802942,Foundation Engineering Education Coalition,17460462,2494351,1998,2004.0,1608 Sociology; 16 Studies in Human Society,pub.1093437577; pub.1094806986; pub.1093569157...
2372,grant.3946882,2014-31100-06048,HATCH ACT OF 1887 - TX,7125137,2375045,2013,2015.0,0,0
...,...,...,...,...,...,...,...,...,...
546,grant.10000112,0,ENDEAVRide,494855,-245,2020,0.0,1117 Public Health and Health Services; 11 Med...,0
1792,grant.7051720,RP160589,Arylhydrocarbon receptor mediated modulation o...,890840,-442,2015,0.0,0601 Biochemistry and Cell Biology; 06 Biologi...,pub.1132949899; pub.1084060973; pub.1134851705...
2030,grant.7051642,RP150454,Tumor Suppression Through the cGAMP/STING Pathway,900000,-446,2015,0.0,1107 Immunology; 0605 Microbiology; 0601 Bioch...,pub.1014178261; pub.1115134691; pub.1105943169...
1976,grant.9425921,PP150089,Increasing Breast and Cervical Cancer Screenin...,1500000,-744,2015,0.0,1117 Public Health and Health Services; 11 Med...,pub.1132335303; pub.1023512338; pub.1129530362
2826,grant.9426035,PP120099,Increasing Breast and Cervical Cancer Screenin...,2698705,-1341,2012,0.0,1117 Public Health and Health Services; 11 Med...,pub.1132335303; pub.1023512338; pub.1129530362

In [ ]:
buzzwordDf_trunc = buzzwordDf[["Title Keywords", "Funding Amount per year", "Departments"]]
buzzwordDf_exploded = buzzwordDf_trunc.explode('Title Keywords').reset_index(drop=True)
buzzwordDf_exploded['Title Keywords'] = buzzwordDf_exploded['Title Keywords'].str.strip()
buzzwordDf_exploded

In [ ]:
for index_label, row_series in buzzwordDf_exploded.iterrows():
  buzzwordDf_exploded.at[index_label , 'Departments'] = str(row_series['Departments']).split(";")
buzzwordDf_exploded.head(10)

In [ ]:
buzzwordDf_exploded = buzzwordDf_exploded.explode('Departments').reset_index(drop=True)
buzzwordDf_exploded['Departments'] = buzzwordDf_exploded['Departments'].str.strip()
buzzwordDf_exploded

In [ ]:
for index_label, row_series in buzzwordDf_exploded.iterrows():
  val = row_series['Departments']
  if int(val[:2]) == 1:
    buzzwordDf_exploded.at[index_label , 'Departments'] = "Mathematics"
  elif int(val[:2]) == 2:
    buzzwordDf_exploded.at[index_label , 'Departments'] = "Physics"
  elif int(val[:2]) == 3:
    buzzwordDf_exploded.at[index_label , 'Departments'] = "Chemistry"
  elif int(val[:2]) == 4:
    buzzwordDf_exploded.at[index_label , 'Departments'] = "Geology and Geophysics"
  elif int(val[:2]) == 5:
    buzzwordDf_exploded.at[index_label , 'Departments'] = "Environmental Science"
  elif int(val[:2]) == 6:
    buzzwordDf_exploded.at[index_label , 'Departments'] = "Biology and Genetics"
  elif int(val[:2]) == 7:
    buzzwordDf_exploded.at[index_label , 'Departments'] = "Agriculture and Crop Sciences"
  elif int(val[:2]) == 8:
    buzzwordDf_exploded.at[index_label , 'Departments'] = "AI and Computer Science"
  elif int(val[:2]) == 9:
    buzzwordDf_exploded.at[index_label , 'Departments'] = "Engineering"
  elif int(val[:2]) == 10:
    buzzwordDf_exploded.at[index_label , 'Departments'] = "Biotechnology"
  elif int(val[:2]) == 11:
    buzzwordDf_exploded.at[index_label , 'Departments'] = "Medical and Health Sciences"
  elif int(val[:2]) == 12:
    buzzwordDf_exploded.at[index_label , 'Departments'] = "Urban and Regional Planning"
  elif int(val[:2]) == 13:
    buzzwordDf_exploded.at[index_label , 'Departments'] = "Education"
  elif int(val[:2]) == 14:
    buzzwordDf_exploded.at[index_label , 'Departments'] = "Economics"
  elif int(val[:2]) == 15:
    buzzwordDf_exploded.at[index_label , 'Departments'] = "Commerce, Management, Tourism and Services"
  elif int(val[:2]) == 16:
    buzzwordDf_exploded.at[index_label , 'Departments'] = "Studies in Human Society"
  elif int(val[:2]) == 17:
    buzzwordDf_exploded.at[index_label , 'Departments'] = "Psychology and Cognitive Sciences"
  elif int(val[:2]) == 18:
    buzzwordDf_exploded.at[index_label , 'Departments'] = "Law and Legal Studies"
  elif int(val[:2]) == 20:
    buzzwordDf_exploded.at[index_label , 'Departments'] = "Language, Communication and Culture"
  elif int(val[:2]) == 21:
    buzzwordDf_exploded.at[index_label , 'Departments'] = "History and Archaeology"
  elif int(val[:2]) == 22:
    buzzwordDf_exploded.at[index_label , 'Departments'] = "Philosophy and Religious Studies"
buzzwordDf_exploded.head(10)

In [ ]:
test_df = buzzwordDf_exploded.groupby('Departments')

In [ ]:
test_df.first()

In [ ]:
test_df.get_group('Physics').head(50)

In [ ]:
set(buzzwordDf_exploded['Departments'].tolist())

In [ ]:
a = set(buzzwordDf_exploded['Departments'].tolist())

In [ ]:
a = [1,1,2,2,3,4,4,5,6,7,8,9]
list(set(a))

In [ ]:
College, Station, Texas, Center, Svhool, Institute, Division, Principal, INvestigator, Grant

# ***Publication Analysis***

In [ ]:
ls

citation_altmetric.csv  citation_altmetric.gsheet

In [ ]:
cd Dataset/

[Errno 2] No such file or directory: 'Dataset/'
/content/drive/Shareddrives/TAMIDS'22/Dataset

In [ ]:
ls

citation_altmetric.csv  citation_altmetric.gsheet

In [ ]:
df = pd.read_csv('citation_altmetric.csv')
df.columns

Index(['Unnamed: 0', 'Publication type', 'Publication title',
       'Publication date', 'Journal title', 'Book title', 'Author',
       'Author's department', 'DOI', 'PubMed ID', 'Open Access Link',
       'Publisher', 'Individual', 'score_string', 'altmetric_score',
       'citation_score'],
      dtype='object')

In [ ]:
df.head(10)

,Unnamed: 0,Publication type,Publication title,Publication date,Journal title,Book title,Author,Author's department,DOI,PubMed ID,Open Access Link,Publisher,Individual,score_string,altmetric_score,citation_score
0,0,AcademicArticle,"""(He) Who speaks only waits..."": ""Business for...",Sat Sep 01 00:00:00 UTC 2012,Cincinnati Romance Review,NaN,"Curry, Richard",Hispanic Studies,NaN,NaN,NaN,NaN,https://scholars.library.tamu.edu/vivo/display...,0,0,0
1,1,AcademicArticle,"""A Discovered Dissembler Can Achieve Nothing G...",Sat Dec 01 00:00:00 UTC 2007,Presidential Studies Quarterly,NaN,"Mercieca, Jennifer",Communication,10.1111/j.1741-5705.2007.02616.x,NaN,https://hdl.handle.net/1969.1/177777,Wiley,https://scholars.library.tamu.edu/vivo/display...,altmetric score32.6citation count14identifier2...,32,6
2,2,AcademicArticle,"""A Psychopath by Any Other Name?"": Juror Perce...",Wed Feb 01 00:00:00 UTC 2017,Journal of Personality Disorders,NaN,"Edens, John",Psychological and Brain Sciences,10.1521/pedi_2016_30_239,26959961.0,NaN,Guilford Publications,https://scholars.library.tamu.edu/vivo/display...,altmetric score2.75citation count33PubMed ID26...,2,75
3,3,AcademicArticle,"""A [B]igger's Place"": Lynching and Specularity...",Fri Jan 01 11:11:11 UTC 2010,African American Review,NaN,"Tuhkanen, Mikko",English,10.2307/2901315,NaN,NaN,Indiana State University,https://scholars.library.tamu.edu/vivo/display...,0,0,0
4,4,AcademicArticle,"""A mixed congregation"": An interview with Thom...",Wed Sep 01 00:00:00 UTC 2004,Callaloo: a journal of African diaspora arts a...,NaN,"Rowell, Charles",English,NaN,NaN,NaN,NaN,https://scholars.library.tamu.edu/vivo/display...,0,0,0
5,5,AcademicArticle,"""After a hundred years/nobody knows the place""...",Wed Jan 01 00:00:00 UTC 2014,Emily Dickinson Journal,NaN,"Earhart, Amy",English||Africana Studies,10.1353/edj.2014.0010,NaN,https://hdl.handle.net/1969.1/166402,NaN,https://scholars.library.tamu.edu/vivo/display...,0,0,0
6,6,GreyLiterature,"""Aligning a Medical Science Library's Instruct...",Sat May 01 00:00:00 UTC 2021,NaN,NaN,"Waltz, Micah J.||Pepper, MLIS, MPH, Catherine|...",Center for Health Systems and Design||Veterina...,NaN,NaN,https://hdl.handle.net/1969.1/192799,NaN,https://scholars.library.tamu.edu/vivo/display...,0,0,0
7,7,ConferencePaper,"""An Examination of Increases in CRP Rental Rat...",Mon Dec 01 00:00:00 UTC 2008,Journal of Agricultural and Resource Economics,NaN,"Outlaw, Joe||Richardson, James",Agricultural Economics||Agricultural Economics,NaN,NaN,NaN,NaN,https://scholars.library.tamu.edu/vivo/display...,0,0,0
8,8,AcademicArticle,"""An Orchardist's Point of View"": Harvest Labor...",Sun Jan 01 11:11:11 UTC 1995,AGRICULTURAL HISTORY,NaN,"Vaught, David",History,NaN,NaN,NaN,Agricultural History Society,https://scholars.library.tamu.edu/vivo/display...,0,0,0
9,9,AcademicArticle,"""An accumulation of things happening"": An inte...",Wed Sep 01 00:00:00 UTC 2004,Callaloo: a journal of African diaspora arts a...,NaN,"Rowell, Charles",English,NaN,NaN,NaN,NaN,https://scholars.library.tamu.edu/vivo/display...,0,0,0

In [ ]:
df['publication_score'] = pd.Series([1 for x in range(len(df.index))])

In [ ]:
for index_label, row_series in df.iterrows():
  df.at[index_label , 'Author\'s department'] = str(row_series['Author\'s department']).split("||")
df.head(10)

,Unnamed: 0,Publication type,Publication title,Publication date,Journal title,Book title,Author,Author's department,DOI,PubMed ID,Open Access Link,Publisher,Individual,score_string,altmetric_score,citation_score,publication_score
0,0,AcademicArticle,"""(He) Who speaks only waits..."": ""Business for...",Sat Sep 01 00:00:00 UTC 2012,Cincinnati Romance Review,NaN,"Curry, Richard",[Hispanic Studies],NaN,NaN,NaN,NaN,https://scholars.library.tamu.edu/vivo/display...,0,0,0,1
1,1,AcademicArticle,"""A Discovered Dissembler Can Achieve Nothing G...",Sat Dec 01 00:00:00 UTC 2007,Presidential Studies Quarterly,NaN,"Mercieca, Jennifer",[Communication],10.1111/j.1741-5705.2007.02616.x,NaN,https://hdl.handle.net/1969.1/177777,Wiley,https://scholars.library.tamu.edu/vivo/display...,altmetric score32.6citation count14identifier2...,32,6,1
2,2,AcademicArticle,"""A Psychopath by Any Other Name?"": Juror Perce...",Wed Feb 01 00:00:00 UTC 2017,Journal of Personality Disorders,NaN,"Edens, John",[Psychological and Brain Sciences],10.1521/pedi_2016_30_239,26959961.0,NaN,Guilford Publications,https://scholars.library.tamu.edu/vivo/display...,altmetric score2.75citation count33PubMed ID26...,2,75,1
3,3,AcademicArticle,"""A [B]igger's Place"": Lynching and Specularity...",Fri Jan 01 11:11:11 UTC 2010,African American Review,NaN,"Tuhkanen, Mikko",[English],10.2307/2901315,NaN,NaN,Indiana State University,https://scholars.library.tamu.edu/vivo/display...,0,0,0,1
4,4,AcademicArticle,"""A mixed congregation"": An interview with Thom...",Wed Sep 01 00:00:00 UTC 2004,Callaloo: a journal of African diaspora arts a...,NaN,"Rowell, Charles",[English],NaN,NaN,NaN,NaN,https://scholars.library.tamu.edu/vivo/display...,0,0,0,1
5,5,AcademicArticle,"""After a hundred years/nobody knows the place""...",Wed Jan 01 00:00:00 UTC 2014,Emily Dickinson Journal,NaN,"Earhart, Amy","[English, Africana Studies]",10.1353/edj.2014.0010,NaN,https://hdl.handle.net/1969.1/166402,NaN,https://scholars.library.tamu.edu/vivo/display...,0,0,0,1
6,6,GreyLiterature,"""Aligning a Medical Science Library's Instruct...",Sat May 01 00:00:00 UTC 2021,NaN,NaN,"Waltz, Micah J.||Pepper, MLIS, MPH, Catherine|...","[Center for Health Systems and Design, Veterin...",NaN,NaN,https://hdl.handle.net/1969.1/192799,NaN,https://scholars.library.tamu.edu/vivo/display...,0,0,0,1
7,7,ConferencePaper,"""An Examination of Increases in CRP Rental Rat...",Mon Dec 01 00:00:00 UTC 2008,Journal of Agricultural and Resource Economics,NaN,"Outlaw, Joe||Richardson, James","[Agricultural Economics, Agricultural Economics]",NaN,NaN,NaN,NaN,https://scholars.library.tamu.edu/vivo/display...,0,0,0,1
8,8,AcademicArticle,"""An Orchardist's Point of View"": Harvest Labor...",Sun Jan 01 11:11:11 UTC 1995,AGRICULTURAL HISTORY,NaN,"Vaught, David",[History],NaN,NaN,NaN,Agricultural History Society,https://scholars.library.tamu.edu/vivo/display...,0,0,0,1
9,9,AcademicArticle,"""An accumulation of things happening"": An inte...",Wed Sep 01 00:00:00 UTC 2004,Callaloo: a journal of African diaspora arts a...,NaN,"Rowell, Charles",[English],NaN,NaN,NaN,NaN,https://scholars.library.tamu.edu/vivo/display...,0,0,0,1

In [ ]:
#Department explode happens here
df_exploded = df.explode('Author\'s department').reset_index(drop=True)
df_exploded['Author\'s department'] = df_exploded['Author\'s department'].str.strip()
df_exploded

,Unnamed: 0,Publication type,Publication title,Publication date,Journal title,Book title,Author,Author's department,DOI,PubMed ID,Open Access Link,Publisher,Individual,score_string,altmetric_score,citation_score,publication_score
0,0,AcademicArticle,"""(He) Who speaks only waits..."": ""Business for...",Sat Sep 01 00:00:00 UTC 2012,Cincinnati Romance Review,NaN,"Curry, Richard",Hispanic Studies,NaN,NaN,NaN,NaN,https://scholars.library.tamu.edu/vivo/display...,0,0,0,1
1,1,AcademicArticle,"""A Discovered Dissembler Can Achieve Nothing G...",Sat Dec 01 00:00:00 UTC 2007,Presidential Studies Quarterly,NaN,"Mercieca, Jennifer",Communication,10.1111/j.1741-5705.2007.02616.x,NaN,https://hdl.handle.net/1969.1/177777,Wiley,https://scholars.library.tamu.edu/vivo/display...,altmetric score32.6citation count14identifier2...,32,6,1
2,2,AcademicArticle,"""A Psychopath by Any Other Name?"": Juror Perce...",Wed Feb 01 00:00:00 UTC 2017,Journal of Personality Disorders,NaN,"Edens, John",Psychological and Brain Sciences,10.1521/pedi_2016_30_239,26959961.0,NaN,Guilford Publications,https://scholars.library.tamu.edu/vivo/display...,altmetric score2.75citation count33PubMed ID26...,2,75,1
3,3,AcademicArticle,"""A [B]igger's Place"": Lynching and Specularity...",Fri Jan 01 11:11:11 UTC 2010,African American Review,NaN,"Tuhkanen, Mikko",English,10.2307/2901315,NaN,NaN,Indiana State University,https://scholars.library.tamu.edu/vivo/display...,0,0,0,1
4,4,AcademicArticle,"""A mixed congregation"": An interview with Thom...",Wed Sep 01 00:00:00 UTC 2004,Callaloo: a journal of African diaspora arts a...,NaN,"Rowell, Charles",English,NaN,NaN,NaN,NaN,https://scholars.library.tamu.edu/vivo/display...,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79434,53461,ConferencePaper,Dialectical Creativity: Sketch-Negate-Create,Thu Jan 01 11:11:11 UTC 2015,NaN,NaN,"Hammond, Tracy",Engineering Education Research Taskforce,10.1007/978-94-017-9297-4_6,NaN,NaN,Springer Netherlands,https://scholars.library.tamu.edu/vivo/display...,0,0,0,1
79435,53461,ConferencePaper,Dialectical Creativity: Sketch-Negate-Create,Thu Jan 01 11:11:11 UTC 2015,NaN,NaN,"Hammond, Tracy",Center for Remote Health Technologies and Systems,10.1007/978-94-017-9297-4_6,NaN,NaN,Springer Netherlands,https://scholars.library.tamu.edu/vivo/display...,0,0,0,1
79436,53461,ConferencePaper,Dialectical Creativity: Sketch-Negate-Create,Thu Jan 01 11:11:11 UTC 2015,NaN,NaN,"Hammond, Tracy",Computer Science and Engineering,10.1007/978-94-017-9297-4_6,NaN,NaN,Springer Netherlands,https://scholars.library.tamu.edu/vivo/display...,0,0,0,1
79437,53461,ConferencePaper,Dialectical Creativity: Sketch-Negate-Create,Thu Jan 01 11:11:11 UTC 2015,NaN,NaN,"Hammond, Tracy",Institute for Engineering Education and Innova...,10.1007/978-94-017-9297-4_6,NaN,NaN,Springer Netherlands,https://scholars.library.tamu.edu/vivo/display...,0,0,0,1
79438,53461,ConferencePaper,Dialectical Creativity: Sketch-Negate-Create,Thu Jan 01 11:11:11 UTC 2015,NaN,NaN,"Hammond, Tracy",Texas A&M Institute of Data Science,10.1007/978-94-017-9297-4_6,NaN,NaN,Springer Netherlands,https://scholars.library.tamu.edu/vivo/display...,0,0,0,1

In [ ]:
pub_df = df_exploded[["Publication title", "citation_score", "publication_score", "Author\'s department"]]
pub_df.head(10)

,Publication title,citation_score,publication_score,Author's department
0,"""(He) Who speaks only waits..."": ""Business for...",0,1,Hispanic Studies
1,"""A Discovered Dissembler Can Achieve Nothing G...",6,1,Communication
2,"""A Psychopath by Any Other Name?"": Juror Perce...",75,1,Psychological and Brain Sciences
3,"""A [B]igger's Place"": Lynching and Specularity...",0,1,English
4,"""A mixed congregation"": An interview with Thom...",0,1,English
5,"""After a hundred years/nobody knows the place""...",0,1,English
6,"""After a hundred years/nobody knows the place""...",0,1,Africana Studies
7,"""Aligning a Medical Science Library's Instruct...",0,1,Center for Health Systems and Design
8,"""Aligning a Medical Science Library's Instruct...",0,1,Veterinary Integrative Biosciences
9,"""Aligning a Medical Science Library's Instruct...",0,1,University Libraries

In [ ]:
for index_label, row_series in pub_df.iterrows():
  dep = row_series['Author\'s department']
  histList = ['History', 'University Libraries']
  bioList = ['Biochemistry and Biophysics','Biology','Biomedical Sciences','Center For Biomedical Informatics','Center for Statistical Bioinformatics','College of Veterinary Medicine and Biomedical Sciences','Ecology and Conservation Biology', 'Epidemiology and Biostatistics','Institute of Biosciences and Technology','Marine Biology','Plant Pathology and Microbiology','Veterinary Integrative Biosciences', 'Veterinary Pathobiology']
  geoList = ['Geology and Geophysics']
  agriList = ['Agricultural Economics', 'Agricultural Leadership, Education, and Communications','College of Agriculture and Life Sciences','Norman E. Borlaug Institute for International Agriculture', 'Agricultural Leadership, Education, and Communications','Center for Sport Management Research and Education','College of Education and Human Development', 'Educational Administration and Human Resource Development', 'Educational Psychology']
  engList = ['Aerospace Engineering', 'Biological and Agricultural Engineering','Biomedical Engineering', 'Chemical Engineering', 'Chemical Engineering (Qatar)','Civil Engineering', 'Computer Science and Engineering', 'Electrical and Computer Engineering', 'Engineering Education Research Taskforce','Engineering Medicine', 'Engineering Technology and Industrial Distribution','Industrial and Systems Engineering', 'Institute for Engineering Education and Innovation','Marine Engineering Technology','Materials Science and Engineering', 'Mechanical Engineering', 'Multidisciplinary Engineering', 'Nuclear Engineering', 'Ocean Engineering','Petroleum Engineering']
  mathList = ['Mathematics']
  phyList = ['Physics and Astronomy']
  chemList = ['Chemistry']

  if any(str(dep) in s for s in histList):
    pub_df.at[index_label , 'Author\'s department'] = "History and Archaeology"
  elif any(str(dep) in s for s in bioList):
    pub_df.at[index_label , 'Author\'s department'] = "Biology and Genetics"
  elif any(str(dep) in s for s in geoList):
    pub_df.at[index_label , 'Author\'s department'] = "Geology and Geophysics"
  elif any(str(dep) in s for s in agriList):
    pub_df.at[index_label , 'Author\'s department'] = "Agriculture and Crop Sciences"
  elif any(str(dep) in s for s in engList):
    pub_df.at[index_label , 'Author\'s department'] = "Engineering"
  elif any(str(dep) in s for s in mathList):
    pub_df.at[index_label , 'Author\'s department'] = "Mathematics"
  elif any(str(dep) in s for s in phyList):
    pub_df.at[index_label , 'Author\'s department'] = "Physics"
  elif any(str(dep) in s for s in chemList):
    pub_df.at[index_label , 'Author\'s department'] = "Chemistry"

pub_df

,Publication title,citation_score,publication_score,Author's department
0,"""(He) Who speaks only waits..."": ""Business for...",0,1,Hispanic Studies
1,"""A Discovered Dissembler Can Achieve Nothing G...",6,1,Agriculture and Crop Sciences
2,"""A Psychopath by Any Other Name?"": Juror Perce...",75,1,Psychological and Brain Sciences
3,"""A [B]igger's Place"": Lynching and Specularity...",0,1,English
4,"""A mixed congregation"": An interview with Thom...",0,1,English
...,...,...,...,...
79434,Dialectical Creativity: Sketch-Negate-Create,0,1,Engineering
79435,Dialectical Creativity: Sketch-Negate-Create,0,1,Center for Remote Health Technologies and Systems
79436,Dialectical Creativity: Sketch-Negate-Create,0,1,Engineering
79437,Dialectical Creativity: Sketch-Negate-Create,0,1,Engineering
79438,Dialectical Creativity: Sketch-Negate-Create,0,1,Texas A&M Institute of Data Science

In [ ]:
pub_df.head(50)

,Publication title,citation_score,publication_score,Author's department
0,"""(He) Who speaks only waits..."": ""Business for...",0,1,Hispanic Studies
1,"""A Discovered Dissembler Can Achieve Nothing G...",6,1,Agriculture and Crop Sciences
2,"""A Psychopath by Any Other Name?"": Juror Perce...",75,1,Psychological and Brain Sciences
3,"""A [B]igger's Place"": Lynching and Specularity...",0,1,English
4,"""A mixed congregation"": An interview with Thom...",0,1,English
5,"""After a hundred years/nobody knows the place""...",0,1,English
6,"""After a hundred years/nobody knows the place""...",0,1,Africana Studies
7,"""Aligning a Medical Science Library's Instruct...",0,1,Center for Health Systems and Design
8,"""Aligning a Medical Science Library's Instruct...",0,1,Biology and Genetics
9,"""Aligning a Medical Science Library's Instruct...",0,1,History and Archaeology
10,"""Aligning a Medical Science Library's Instruct...",0,1,History and Archaeology
11,"""Aligning a Medical Science Library's Instruct...",0,1,History and Archaeology
12,"""Aligning a Medical Science Library's Instruct...",0,1,History and Archaeology
13,"""Aligning a Medical Science Library's Instruct...",0,1,History and Archaeology
14,"""An Examination of Increases in CRP Rental Rat...",0,1,Agriculture and Crop Sciences
15,"""An Examination of Increases in CRP Rental Rat...",0,1,Agriculture and Crop Sciences
16,"""An Orchardist's Point of View"": Harvest Labor...",0,1,History and Archaeology
17,"""An accumulation of things happening"": An inte...",0,1,English
18,"""Architect friendly"": A comparison of ten diff...",0,1,Center for Health Systems and Design
19,"""Architect friendly"": A comparison of ten diff...",0,1,Architecture
20,"""Architect friendly"": A comparison of ten diff...",0,1,Energy Institute
21,"""Are facts not flowers?"": Facticity and geneti...",0,1,Agriculture and Crop Sciences
22,"""Are facts not flowers?"": Facticity and geneti...",0,1,College of Liberal Arts
23,"""Assessment of a State Marketing Program: A Ca...",0,1,Agriculture and Crop Sciences
24,"""Bad news bearers"".",0,1,Diagnostic Sciences
25,"""Bare"" single-particle energies in 56Ni.",0,1,Physics
26,"""Burnt by the spotlight"": How leadership endor...",0,1,Agriculture and Crop Sciences
27,"""C'est si simple … C'est si difficile"": the Id...",0,1,International Studies
28,"""C'est si simple … C'est si difficile"": the Id...",0,1,Women & Gender Studies
29,"""Catalyst-on-a-tape""-Teflon: a new delivery an...",0,1,Energy Institute
30,"""Catalyst-on-a-tape""-Teflon: a new delivery an...",0,1,Chemistry
31,"""Changed, Changed Utterly"": The Implications o...",0,1,History and Archaeology
32,"""Circular Economy"": a Framing Concept to Catal...",0,1,Engineering
33,"""Circular Economy"": a Framing Concept to Catal...",0,1,"Institute for Science, Technology, and Public ..."
34,"""Circular Economy"": a Framing Concept to Catal...",0,1,Energy Institute
35,"""Circular Economy"": a Framing Concept to Catal...",0,1,Energy Institute
36,"""Circular Economy"": a Framing Concept to Catal...",0,1,Public Service and Administration
37,"""Circular Economy"": a Framing Concept to Catal...",0,1,Bush School of Government and Public Service
38,"""Comparison of MILC: Current Law vs. 2008 Sena...",0,1,Agriculture and Crop Sciences
39,"""Comparison of MILC: Current Law vs. 2008 Sena...",0,1,Agriculture and Crop Sciences
40,"""Competing"" for a robotics education",0,1,Engineering
41,"""Concerted"" transition state, stepwise mechani...",0,1,Chemistry
42,"""Cómo Ocultar la Verdad Sin Mentir"": Cercas's ...",0,1,Hispanic Studies
43,"""Do-It-Yourself"" Employee Health Care",0,1,Center for Health Systems and Design
44,"""Do-It-Yourself"" Employee Health Care",0,1,Marketing
45,"""Doc, if you can't stop smoking, why should I?...",0,1,Public Health Sciences
46,"""Double-duty"" conventional dendritic cells in ...",0,1,Biology and Genetics
47,"""Double-duty"" conventional dendritic cells in ...",0,1,Biology and Genetics
48,"""Down the Rabbit Hole"" of Vaccine Misinformati...",0,1,Center for Health Systems and Design
49,"""Down the Rabbit Hole"" of Vaccine Misinformati...",0,1,Agriculture and Crop Sciences

In [ ]:
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')
from nltk.stem.wordnet import WordNetLemmatizer

custom_stopwords = ['Texas','A','&',"M",'College', 'Station', 'Center', 'School', 'Institute', 'Division', 'Principal', 'Investigator', 'Grant', 'project', 'research', 'ha', 'approach', 'student', 'impact', 'result', 'work', 'use', 'method', 'area', 'effort', 'PhD']

pub_df = pub_df.fillna(0)

pub_df['tokens'] = pub_df.apply(lambda row: nltk.word_tokenize(str(row['Publication title'])), axis=1)
pub_df['lemmas'] = pub_df['tokens'].apply(lambda lst:[WordNetLemmatizer().lemmatize(word) for word in lst])
pub_df['lemmas'] = pub_df['lemmas'].apply(lambda x: ' '.join(y for y in x if y not in (stop) and y not in (custom_stopwords)))

for index_label, row_series in pub_df.iterrows():
  nouns = [] #empty to array to hold all nouns
  sentences = pub_df.at[index_label , 'lemmas']
  for word,pos in nltk.pos_tag(nltk.word_tokenize(str(sentences))):
      if (pos == 'NN' or pos == 'NNP' or pos == 'NNS' or pos == 'NNPS'):
          nouns.append(word.lower())
  pub_df.at[index_label , 'Publication title'] = list(set(nouns))
pub_df

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,Publication title,citation_score,publication_score,Author's department,tokens,lemmas
0,"[rey, ningún, rosa, wait, rodrigo, millennium,...",0,1,Hispanic Studies,"[``, (, He, ), Who, speaks, only, waits, ..., ...",`` ( He ) Who speaks wait ... '' : `` Business...
1,"[presidential, dissembler, rhetoric, nothing, ...",6,1,Agriculture and Crop Sciences,"[``, A, Discovered, Dissembler, Can, Achieve, ...",`` Discovered Dissembler Can Achieve Nothing G...
2,"[juror, limited, emotions, specifier, any, psy...",75,1,Psychological and Brain Sciences,"[``, A, Psychopath, by, Any, Other, Name, ?, `...",`` Psychopath Any Other Name ? `` : Juror Perc...
3,"[wright, place, cloud, richard, son, native, ]...",0,1,English,"[``, A, [, B, ], igger, 's, Place, '', :, Lync...",`` [ B ] igger 's Place '' : Lynching Specular...
4,"[sayers, ellis, interview, congregation, thomas]",0,1,English,"[``, A, mixed, congregation, '', :, An, interv...",`` mixed congregation '' : An interview Thomas...
...,...,...,...,...,...,...
79434,[creativity],0,1,Engineering,"[Dialectical, Creativity, :, Sketch-Negate-Cre...",Dialectical Creativity : Sketch-Negate-Create
79435,[creativity],0,1,Center for Remote Health Technologies and Systems,"[Dialectical, Creativity, :, Sketch-Negate-Cre...",Dialectical Creativity : Sketch-Negate-Create
79436,[creativity],0,1,Engineering,"[Dialectical, Creativity, :, Sketch-Negate-Cre...",Dialectical Creativity : Sketch-Negate-Create
79437,[creativity],0,1,Engineering,"[Dialectical, Creativity, :, Sketch-Negate-Cre...",Dialectical Creativity : Sketch-Negate-Create
79438,[creativity],0,1,Texas A&M Institute of Data Science,"[Dialectical, Creativity, :, Sketch-Negate-Cre...",Dialectical Creativity : Sketch-Negate-Create

In [ ]:
pub_df = pub_df[pub_df.citation_score != 0]
pub_df = pub_df[["Publication title", "citation_score", "Author\'s department", "publication_score"]]
pub_df

,Publication title,citation_score,Author's department,publication_score
1,"[presidential, dissembler, rhetoric, nothing, ...",6,Agriculture and Crop Sciences,1
2,"[juror, limited, emotions, specifier, any, psy...",75,Psychological and Brain Sciences,1
52,"[society, man, experiment, perspective]",1,Anthropology,1
88,"[expert, bias, witness, reference, law, form, ...",45,Psychological and Brain Sciences,1
94,"[corruption, states, american, opportunities]",35,Political Science,1
...,...,...,...,...
79377,"[sudden, family, features, myocarditis, boxer,...",95,Biology and Genetics,1
79378,"[sudden, family, features, myocarditis, boxer,...",95,Small Animal Clinical Sciences,1
79379,"[sudden, family, features, myocarditis, boxer,...",95,Biology and Genetics,1
79384,"[hydrothermally, fe, particulate, derived, mor...",35,Oceanography,1
79391,"[study, disorder, anxiety, potential, predicto...",25,Psychological and Brain Sciences,1

In [ ]:
#Abstract noun exploding happens here
pub_df_exploded = pub_df.explode('Publication title').reset_index(drop=True)
pub_df_exploded['Publication title'] = pub_df_exploded['Publication title'].str.strip()
pub_df_exploded = pub_df_exploded.sort_values(by=['citation_score'], ascending=False)
pub_df_exploded.rename(columns = {'Publication title':'Abstract Keywords'}, inplace = True)
pub_df_exploded

,Abstract Keywords,citation_score,Author's department,publication_score
7424,dwarf,986,Physics,1
7422,hole,986,Physics,1
7423,galaxy,986,Physics,1
34581,way,982,Physics,1
33608,states,982,Health Policy and Management,1
...,...,...,...,...
14806,project,1,Agriculture and Crop Sciences,1
14807,acquisition,1,Agriculture and Crop Sciences,1
14808,using,1,Agriculture and Crop Sciences,1
42160,conflict,1,nan,1
4297,eddington,1,Center for Large-scale Scientific Simulations,1

In [ ]:
grouped_df = pub_df_exploded.groupby('Author\'s department')

In [ ]:
grouped_df.first()

,Abstract Keywords,citation_score,publication_score
Author's department,,,
Accounting,corporate,58,1
Africana Studies,gender,1,1
Aggie STEM,attitude,85,1
Agriculture and Crop Sciences,vaccinate,958,1
Albritton Center for Grand Strategy,interest,95,1
...,...,...,...
Visualization,anger,132,1
Weslaco Research and Extension Center,cranberry,49,1
Wildlife and Fisheries Sciences,congo,836,1
Women & Gender Studies,ulysses,85,1
nan,situ,772,1

In [ ]:
acc_df = grouped_df.get_group('Engineering')

In [ ]:
pd.DataFrame(acc_df.groupby('Abstract Keywords')['publication_score'].sum()).sort_values(by='publication_score', ascending=False).head(50)

In [ ]:
pub_dataframe_collection = {}

for dep in depList:
  try:
    pub_dataframe_collection[dep] = grouped_df.get_group(dep)
    pub_dataframe_collection[dep] = pd.DataFrame(pub_dataframe_collection[dep].groupby('Abstract Keywords')['publication_score'].sum()).sort_values(by='publication_score', ascending=False).head(100)
  except:
    continue

In [ ]:
cit_dataframe_collection = {}

for dep in depList:
  try:
    cit_dataframe_collection[dep] = grouped_df.get_group(dep)
    cit_dataframe_collection[dep] = pd.DataFrame(cit_dataframe_collection[dep].groupby('Abstract Keywords')['citation_score'].sum()).sort_values(by='citation_score', ascending=False).head(100)
  except:
    continue

In [ ]:
dataframe_collection['AI and Computer Science']

In [ ]:
import pandas as pd

for dep in depList:
  try:
    dataframe_collection[dep] = pd.merge(dataframe_collection[dep], pub_dataframe_collection[dep], on=['Abstract Keywords'])
  except:
    continue

In [ ]:
import pandas as pd

for dep in depList:
  try:
    dataframe_collection[dep] = pd.merge(dataframe_collection[dep], cit_dataframe_collection[dep], on=['Abstract Keywords'])
  except:
    continue

In [ ]:
dataframe_collection['Engineering']

                   Funding Amount per year  publication_score  citation_score
Abstract Keywords
system                            38968445                 31            1276
material                          30591555                 21             869
development                       28202327                 23            1018
model                             21213641                 45            1038
data                              20511569                 13            1090
analysis                          12542692                 48            1994

In [ ]:
dataframe_collection.keys()

dict_keys(['History and Archaeology', 'Chemistry', 'Agriculture and Crop Sciences', 'Studies in Human Society', 'Education', 'Environmental Science', 'Commerce, Management, Tourism and Services', 'Economics', 'Law and Legal Studies', 'Philosophy and Religious Studies', 'Engineering', 'Biotechnology', 'Urban and Regional Planning', 'AI and Computer Science', 'Biology and Genetics', 'Psychology and Cognitive Sciences', 'Physics', 'Mathematics', 'Language, Communication and Culture', 'Geology and Geophysics', 'Medical and Health Sciences'])

In [ ]:
dept_mean_var = {'History and Archaeology': [0.305,0.103], 'Chemistry': [0.775, 0.626],'Agriculture and Crop Sciences':[1.514,7.803],'Studies in Human Society':[1.464,10.578],
                  'Education':[1.336,4.603],'Environmental Science': [0.434,0.108],'Commerce, Management, Tourism and Services':[0.759,1.294],'Economics':[0.98,6.4],
                 'Law and Legal Studies':[0.51,0.302], 'Philosophy and Religious Studies':[0.278,0.026],'Engineering':[0.788,2.712],'Biology and Genetics':[1.223,3.11] ,
                 'AI and Computer Science': [0.749,1.236], 'Psychology and Cognitive Sciences':[1.272,5.838],'Physics': [2.176,290.906],
                 'Mathematics':[0.485,0.191], 'Language, Communication and Culture':[0.333,0.088], 'Geology and Geophysics':[0.76,1.812],
                 'Medical and Health Sciences':[1.183,2.586],'Urban and Regional Planning':[1.345,10.258], 'Biotechnology':[0.601, 0.218] }

In [ ]:
for key in dataframe_collection.keys():
  dataframe_collection[key]['Funding Normalized'] = (dataframe_collection[key]['Funding Amount per year']-10**(5)*dept_mean_var[key][0])/(dept_mean_var[key][1]*10**(5))
  try:
    dataframe_collection[key]['Impact Score'] = dataframe_collection[key]['Funding Normalized']*dataframe_collection[key]['publication_score']*dataframe_collection[key]['citation_score']/(100*dataframe_collection[key]['citation_score'].sum(axis=0))
  except:
    continue

In [ ]:
dataframe_collection['Physics']

,Funding Amount per year,publication_score,citation_score,Funding Normalized,Impact Score
Abstract Keywords,,,,,
matter,32652394,19,2154,1.114958,0.211842